<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>club_BtSFCX.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,188},{171,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{171,68}}</string>
                <key>sourceSize</key>
                <string>{171,68}</string>
            </dict>
            <key>club_BtXFCX.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,118},{171,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{171,68}}</string>
                <key>sourceSize</key>
                <string>{171,68}</string>
            </dict>
            <key>club_Btfanhui.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,48},{171,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{171,68}}</string>
                <key>sourceSize</key>
                <string>{171,68}</string>
            </dict>
            <key>club_SXFTitle.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{187,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{187,44}}</string>
                <key>sourceSize</key>
                <string>{187,44}</string>
            </dict>
            <key>club_sfcx.png</key>
            <dict>
                <key>frame</key>
                <string>{{221,2},{117,28}}</string>
                <key>offset</key>
                <string>{1,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{28,16},{117,28}}</string>
                <key>sourceSize</key>
                <string>{171,68}</string>
            </dict>
            <key>club_title0Bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{175,121},{154,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{154,75}}</string>
                <key>sourceSize</key>
                <string>{154,75}</string>
            </dict>
            <key>club_xfcx.png</key>
            <dict>
                <key>frame</key>
                <string>{{191,2},{117,28}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{27,16},{117,28}}</string>
                <key>sourceSize</key>
                <string>{171,68}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ClubScoreLog.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:32db72c698229c9198fe6783a055d614$</string>
            <key>textureFileName</key>
            <string>ClubScoreLog.png</string>
        </dict>
    </dict>
</plist>
