<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>clubTitle.png</key>
            <dict>
                <key>frame</key>
                <string>{{61,470},{131,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{131,44}}</string>
                <key>sourceSize</key>
                <string>{131,44}</string>
            </dict>
            <key>club_BtCJ.png</key>
            <dict>
                <key>frame</key>
                <string>{{898,408},{201,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{201,81}}</string>
                <key>sourceSize</key>
                <string>{201,81}</string>
            </dict>
            <key>club_BtCJClub.png</key>
            <dict>
                <key>frame</key>
                <string>{{898,205},{201,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{201,81}}</string>
                <key>sourceSize</key>
                <string>{201,81}</string>
            </dict>
            <key>club_Btjoin.png</key>
            <dict>
                <key>frame</key>
                <string>{{898,2},{201,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{201,81}}</string>
                <key>sourceSize</key>
                <string>{201,81}</string>
            </dict>
            <key>club_CJTitle.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,943},{188,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{188,44}}</string>
                <key>sourceSize</key>
                <string>{188,44}</string>
            </dict>
            <key>club_CJlg1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,470},{471,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{471,57}}</string>
                <key>sourceSize</key>
                <string>{471,57}</string>
            </dict>
            <key>club_haibao.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{894,466}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{894,466}}</string>
                <key>sourceSize</key>
                <string>{894,466}</string>
            </dict>
            <key>club_joinClubTitle.png</key>
            <dict>
                <key>frame</key>
                <string>{{61,611},{187,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{187,44}}</string>
                <key>sourceSize</key>
                <string>{187,44}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ClubWelcome.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2b9d374f283a8ce5075ace75ee81e447$</string>
            <key>textureFileName</key>
            <string>ClubWelcome.png</string>
        </dict>
    </dict>
</plist>
