<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Btbuchu.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,566},{170,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{170,70}}</string>
                <key>sourceSize</key>
                <string>{170,70}</string>
            </dict>
            <key>Btbujiabei.png</key>
            <dict>
                <key>frame</key>
                <string>{{340,521},{170,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{170,70}}</string>
                <key>sourceSize</key>
                <string>{170,70}</string>
            </dict>
            <key>Btbujiao.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,494},{170,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{170,70}}</string>
                <key>sourceSize</key>
                <string>{170,70}</string>
            </dict>
            <key>Btbuliang.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,422},{170,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{170,70}}</string>
                <key>sourceSize</key>
                <string>{170,70}</string>
            </dict>
            <key>Btchupai.png</key>
            <dict>
                <key>frame</key>
                <string>{{175,206},{171,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{171,70}}</string>
                <key>sourceSize</key>
                <string>{171,70}</string>
            </dict>
            <key>Bterfen.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,350},{170,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{170,70}}</string>
                <key>sourceSize</key>
                <string>{170,70}</string>
            </dict>
            <key>Btjiabei.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,147},{171,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{171,70}}</string>
                <key>sourceSize</key>
                <string>{171,70}</string>
            </dict>
            <key>Btmingpai.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,291},{170,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{170,70}}</string>
                <key>sourceSize</key>
                <string>{170,70}</string>
            </dict>
            <key>Btsanfen.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,278},{170,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{170,70}}</string>
                <key>sourceSize</key>
                <string>{170,70}</string>
            </dict>
            <key>Bttishi.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,219},{170,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{170,70}}</string>
                <key>sourceSize</key>
                <string>{170,70}</string>
            </dict>
            <key>Btyaobuqi.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{187,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{187,76}}</string>
                <key>sourceSize</key>
                <string>{187,76}</string>
            </dict>
            <key>Btyifen.png</key>
            <dict>
                <key>frame</key>
                <string>{{181,134},{171,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{171,70}}</string>
                <key>sourceSize</key>
                <string>{171,70}</string>
            </dict>
            <key>CardBanker.png</key>
            <dict>
                <key>frame</key>
                <string>{{74,363},{92,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,92}}</string>
                <key>sourceSize</key>
                <string>{92,92}</string>
            </dict>
            <key>clock.png</key>
            <dict>
                <key>frame</key>
                <string>{{74,457},{83,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,92}}</string>
                <key>sourceSize</key>
                <string>{83,92}</string>
            </dict>
            <key>icon_dizhu.png</key>
            <dict>
                <key>frame</key>
                <string>{{74,542},{72,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,63}}</string>
                <key>sourceSize</key>
                <string>{72,63}</string>
            </dict>
            <key>img_Action_BuChu.png</key>
            <dict>
                <key>frame</key>
                <string>{{143,707},{143,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{143,65}}</string>
                <key>sourceSize</key>
                <string>{149,65}</string>
            </dict>
            <key>img_Action_BuJiaBei.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,80},{177,65}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{177,65}}</string>
                <key>sourceSize</key>
                <string>{183,67}</string>
            </dict>
            <key>img_Action_BuJiao.png</key>
            <dict>
                <key>frame</key>
                <string>{{74,756},{141,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,0},{141,67}}</string>
                <key>sourceSize</key>
                <string>{149,67}</string>
            </dict>
            <key>img_Action_BuQiang.png</key>
            <dict>
                <key>frame</key>
                <string>{{292,662},{145,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{145,65}}</string>
                <key>sourceSize</key>
                <string>{149,65}</string>
            </dict>
            <key>img_Action_JiaBei.png</key>
            <dict>
                <key>frame</key>
                <string>{{143,638},{147,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{147,67}}</string>
                <key>sourceSize</key>
                <string>{149,67}</string>
            </dict>
            <key>img_Action_JiaoDiZhu.png</key>
            <dict>
                <key>frame</key>
                <string>{{191,67},{179,65}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{179,65}}</string>
                <key>sourceSize</key>
                <string>{185,67}</string>
            </dict>
            <key>img_Action_LandScore1.png</key>
            <dict>
                <key>frame</key>
                <string>{{439,662},{143,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,0},{143,67}}</string>
                <key>sourceSize</key>
                <string>{149,67}</string>
            </dict>
            <key>img_Action_LandScore2.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,593},{147,67}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{147,67}}</string>
                <key>sourceSize</key>
                <string>{149,67}</string>
            </dict>
            <key>img_Action_LandScore3.png</key>
            <dict>
                <key>frame</key>
                <string>{{74,607},{147,67}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{147,67}}</string>
                <key>sourceSize</key>
                <string>{149,67}</string>
            </dict>
            <key>img_Action_QiangDiZhu.png</key>
            <dict>
                <key>frame</key>
                <string>{{191,2},{187,63}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{187,63}}</string>
                <key>sourceSize</key>
                <string>{193,65}</string>
            </dict>
            <key>labtishi.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,363},{659,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{659,70}}</string>
                <key>sourceSize</key>
                <string>{659,70}</string>
            </dict>
            <key>pb.png</key>
            <dict>
                <key>frame</key>
                <string>{{74,899},{49,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,67}}</string>
                <key>sourceSize</key>
                <string>{49,67}</string>
            </dict>
            <key>topK.png</key>
            <dict>
                <key>frame</key>
                <string>{{380,2},{517,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{517,108}}</string>
                <key>sourceSize</key>
                <string>{517,108}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Game_40107.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2daeec955a56e88adbffe2c8228a2b4c$</string>
            <key>textureFileName</key>
            <string>Game_40107.png</string>
        </dict>
    </dict>
</plist>
