<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>jiesanRoomTitle.png</key>
            <dict>
                <key>frame</key>
                <string>{{205,2},{150,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,45}}</string>
                <key>sourceSize</key>
                <string>{150,45}</string>
            </dict>
            <key>jiesanRoom_Btjujue.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,85},{201,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{201,81}}</string>
                <key>sourceSize</key>
                <string>{201,81}</string>
            </dict>
            <key>jiesanRoom_Bttongyi.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{201,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{201,81}}</string>
                <key>sourceSize</key>
                <string>{201,81}</string>
            </dict>
            <key>jiesanRoom_TXK.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,168},{127,127}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{127,127}}</string>
                <key>sourceSize</key>
                <string>{127,127}</string>
            </dict>
            <key>jiesanRoom_shizhong.png</key>
            <dict>
                <key>frame</key>
                <string>{{131,168},{85,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,96}}</string>
                <key>sourceSize</key>
                <string>{85,96}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>DissGame.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:839e4eff148eb5499da0ba0dfa69a05c$</string>
            <key>textureFileName</key>
            <string>DissGame.png</string>
        </dict>
    </dict>
</plist>
