<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>BtCJRoom.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{241,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{241,81}}</string>
                <key>sourceSize</key>
                <string>{241,81}</string>
            </dict>
            <key>Btbaoqingmajiang.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,328},{177,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{177,79}}</string>
                <key>sourceSize</key>
                <string>{177,79}</string>
            </dict>
            <key>BtbaoqingmajiangA.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,247},{177,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{177,79}}</string>
                <key>sourceSize</key>
                <string>{177,79}</string>
            </dict>
            <key>Btdoudizhu.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,166},{177,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{177,79}}</string>
                <key>sourceSize</key>
                <string>{177,79}</string>
            </dict>
            <key>BtdoudizhuA.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,85},{177,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{177,79}}</string>
                <key>sourceSize</key>
                <string>{177,79}</string>
            </dict>
            <key>CJRoomTitle.png</key>
            <dict>
                <key>frame</key>
                <string>{{181,85},{151,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{151,45}}</string>
                <key>sourceSize</key>
                <string>{151,45}</string>
            </dict>
            <key>biaoqianBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{181,238},{43,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,45}}</string>
                <key>sourceSize</key>
                <string>{43,45}</string>
            </dict>
            <key>duihao.png</key>
            <dict>
                <key>frame</key>
                <string>{{171,329},{40,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,40}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>fangdi.png</key>
            <dict>
                <key>frame</key>
                <string>{{129,328},{40,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,40}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>weixuanyuan.png</key>
            <dict>
                <key>frame</key>
                <string>{{83,328},{44,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,44}}</string>
                <key>sourceSize</key>
                <string>{44,44}</string>
            </dict>
            <key>yixuanyuan.png</key>
            <dict>
                <key>frame</key>
                <string>{{181,283},{44,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,44}}</string>
                <key>sourceSize</key>
                <string>{44,44}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>CreateRoom.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:be45d529a4cfec411913fed2ce51fc96$</string>
            <key>textureFileName</key>
            <string>CreateRoom.png</string>
        </dict>
    </dict>
</plist>
