<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Bthuifang.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,158},{68,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,54}}</string>
                <key>sourceSize</key>
                <string>{68,54}</string>
            </dict>
            <key>gameZJTitle.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,214},{152,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{152,44}}</string>
                <key>sourceSize</key>
                <string>{152,44}</string>
            </dict>
            <key>yxzjlistBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{154,162}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{154,162}}</string>
                <key>sourceSize</key>
                <string>{154,162}</string>
            </dict>
            <key>yxzjlistBtchakanXQ.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,158},{156,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{156,63}}</string>
                <key>sourceSize</key>
                <string>{156,63}</string>
            </dict>
            <key>yxzjlistlisthead.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,214},{154,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{154,44}}</string>
                <key>sourceSize</key>
                <string>{154,44}</string>
            </dict>
            <key>zhanjiXQTitle.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,223},{151,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{151,44}}</string>
                <key>sourceSize</key>
                <string>{151,44}</string>
            </dict>
            <key>zjxqlistBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,2},{154,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{154,82}}</string>
                <key>sourceSize</key>
                <string>{154,82}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>GameRecord.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5325843a6e671d0b63a52a818d65ea3f$</string>
            <key>textureFileName</key>
            <string>GameRecord.png</string>
        </dict>
    </dict>
</plist>
