<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>JRsrk.png</key>
            <dict>
                <key>frame</key>
                <string>{{425,2},{145,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{145,74}}</string>
                <key>sourceSize</key>
                <string>{145,74}</string>
            </dict>
            <key>b00.png</key>
            <dict>
                <key>frame</key>
                <string>{{273,591},{269,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{269,86}}</string>
                <key>sourceSize</key>
                <string>{269,86}</string>
            </dict>
            <key>b01.png</key>
            <dict>
                <key>frame</key>
                <string>{{361,420},{269,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{269,86}}</string>
                <key>sourceSize</key>
                <string>{269,86}</string>
            </dict>
            <key>b02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,530},{269,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{269,86}}</string>
                <key>sourceSize</key>
                <string>{269,86}</string>
            </dict>
            <key>b03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,442},{269,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{269,86}}</string>
                <key>sourceSize</key>
                <string>{269,86}</string>
            </dict>
            <key>b04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,354},{269,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{269,86}}</string>
                <key>sourceSize</key>
                <string>{269,86}</string>
            </dict>
            <key>b05.png</key>
            <dict>
                <key>frame</key>
                <string>{{273,320},{269,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{269,86}}</string>
                <key>sourceSize</key>
                <string>{269,86}</string>
            </dict>
            <key>b06.png</key>
            <dict>
                <key>frame</key>
                <string>{{361,149},{269,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{269,86}}</string>
                <key>sourceSize</key>
                <string>{269,86}</string>
            </dict>
            <key>b07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,266},{269,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{269,86}}</string>
                <key>sourceSize</key>
                <string>{269,86}</string>
            </dict>
            <key>b08.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,178},{269,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{269,86}}</string>
                <key>sourceSize</key>
                <string>{269,86}</string>
            </dict>
            <key>b09.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,90},{269,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{269,86}}</string>
                <key>sourceSize</key>
                <string>{269,86}</string>
            </dict>
            <key>bdel.png</key>
            <dict>
                <key>frame</key>
                <string>{{273,49},{269,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{269,86}}</string>
                <key>sourceSize</key>
                <string>{269,86}</string>
            </dict>
            <key>bred.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{269,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{269,86}}</string>
                <key>sourceSize</key>
                <string>{269,86}</string>
            </dict>
            <key>joinRoomTitle.png</key>
            <dict>
                <key>frame</key>
                <string>{{273,2},{150,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,45}}</string>
                <key>sourceSize</key>
                <string>{150,45}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>JoinRoom.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0d92a49eb8a7d7d3a52beb8ec73d1515$</string>
            <key>textureFileName</key>
            <string>JoinRoom.png</string>
        </dict>
    </dict>
</plist>
