<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>BttuichuGame.png</key>
            <dict>
                <key>frame</key>
                <string>{{149,2},{201,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{201,81}}</string>
                <key>sourceSize</key>
                <string>{201,81}</string>
            </dict>
            <key>sitTitle.png</key>
            <dict>
                <key>frame</key>
                <string>{{149,205},{103,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{103,44}}</string>
                <key>sourceSize</key>
                <string>{103,44}</string>
            </dict>
            <key>sit_BtjiesanRoom.png</key>
            <dict>
                <key>frame</key>
                <string>{{66,205},{201,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{201,81}}</string>
                <key>sourceSize</key>
                <string>{201,81}</string>
            </dict>
            <key>sit_Bttuichudenglu.png</key>
            <dict>
                <key>frame</key>
                <string>{{66,2},{201,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{201,81}}</string>
                <key>sourceSize</key>
                <string>{201,81}</string>
            </dict>
            <key>sit_huadian.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,457},{52,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,55}}</string>
                <key>sourceSize</key>
                <string>{52,55}</string>
            </dict>
            <key>sit_huatiao.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{453,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{453,32}}</string>
                <key>sourceSize</key>
                <string>{453,32}</string>
            </dict>
            <key>sit_huatiaodi.png</key>
            <dict>
                <key>frame</key>
                <string>{{36,2},{453,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{453,28}}</string>
                <key>sourceSize</key>
                <string>{453,32}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Setting.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b478b30e7baee0f89ef2ef76b5c4ff4b$</string>
            <key>textureFileName</key>
            <string>Setting.png</string>
        </dict>
    </dict>
</plist>
