<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>login_dizhibuliangyouxi.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,74},{1280,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1280,34}}</string>
                <key>sourceSize</key>
                <string>{1280,34}</string>
            </dict>
            <key>login_fangdi.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,38},{34,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,35}}</string>
                <key>sourceSize</key>
                <string>{34,35}</string>
            </dict>
            <key>login_logo.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{524,164}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{524,164}}</string>
                <key>sourceSize</key>
                <string>{524,164}</string>
            </dict>
            <key>login_weixindengluBtn.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,528},{255,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{255,90}}</string>
                <key>sourceSize</key>
                <string>{255,90}</string>
            </dict>
            <key>login_yixuan.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,2},{34,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,35}}</string>
                <key>sourceSize</key>
                <string>{34,35}</string>
            </dict>
            <key>sit_huatiao.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,155},{453,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{453,32}}</string>
                <key>sourceSize</key>
                <string>{453,32}</string>
            </dict>
            <key>sit_huatiaodi.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,528},{453,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{453,28}}</string>
                <key>sourceSize</key>
                <string>{453,32}</string>
            </dict>
            <key>yonghuxieyiTitle.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,2},{151,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{151,44}}</string>
                <key>sourceSize</key>
                <string>{151,44}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Login.png</string>
            <key>size</key>
            <string>{256,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:44c8df0de28db690eb23c040c5858683$</string>
            <key>textureFileName</key>
            <string>Login.png</string>
        </dict>
    </dict>
</plist>
