<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Btqueding.png</key>
            <dict>
                <key>frame</key>
                <string>{{798,684},{201,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{201,81}}</string>
                <key>sourceSize</key>
                <string>{201,81}</string>
            </dict>
            <key>Btquxiao.png</key>
            <dict>
                <key>frame</key>
                <string>{{798,601},{201,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{201,81}}</string>
                <key>sourceSize</key>
                <string>{201,81}</string>
            </dict>
            <key>FaceDef.png</key>
            <dict>
                <key>frame</key>
                <string>{{798,1185},{76,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,76}}</string>
                <key>sourceSize</key>
                <string>{76,76}</string>
            </dict>
            <key>bg0.png</key>
            <dict>
                <key>frame</key>
                <string>{{798,767},{154,154}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{154,154}}</string>
                <key>sourceSize</key>
                <string>{154,154}</string>
            </dict>
            <key>close.png</key>
            <dict>
                <key>frame</key>
                <string>{{953,2},{62,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,65}}</string>
                <key>sourceSize</key>
                <string>{62,65}</string>
            </dict>
            <key>club_listBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{798,923},{154,97}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{154,97}}</string>
                <key>sourceSize</key>
                <string>{154,97}</string>
            </dict>
            <key>dakuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{949,597}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{949,597}}</string>
                <key>sourceSize</key>
                <string>{949,597}</string>
            </dict>
            <key>empty.png</key>
            <dict>
                <key>frame</key>
                <string>{{905,1022},{104,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,104}}</string>
                <key>sourceSize</key>
                <string>{104,104}</string>
            </dict>
            <key>headkuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{889,1128},{84,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,86}}</string>
                <key>sourceSize</key>
                <string>{84,86}</string>
            </dict>
            <key>shurukuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{798,1022},{105,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,70}}</string>
                <key>sourceSize</key>
                <string>{105,70}</string>
            </dict>
            <key>wenxintishiTitle.png</key>
            <dict>
                <key>frame</key>
                <string>{{953,222},{151,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{151,44}}</string>
                <key>sourceSize</key>
                <string>{151,44}</string>
            </dict>
            <key>xiaokuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1199},{794,503}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{794,503}}</string>
                <key>sourceSize</key>
                <string>{794,503}</string>
            </dict>
            <key>yuan.png</key>
            <dict>
                <key>frame</key>
                <string>{{798,1094},{89,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{89,89}}</string>
                <key>sourceSize</key>
                <string>{89,89}</string>
            </dict>
            <key>yxzjlistlisthead.png</key>
            <dict>
                <key>frame</key>
                <string>{{953,66},{154,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{154,44}}</string>
                <key>sourceSize</key>
                <string>{154,44}</string>
            </dict>
            <key>zhongkuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,601},{794,596}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{794,596}}</string>
                <key>sourceSize</key>
                <string>{794,596}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Public.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a6aaf158949f383e8b9cc524cf382a14$</string>
            <key>textureFileName</key>
            <string>Public.png</string>
        </dict>
    </dict>
</plist>
